@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@800&display=swap');

/*
    font-family: 'Open Sans', sans-serif;

    font-family: 'Poppins', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
}

.logo{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background-color:#b7cbfd;
}

.banner h1{
    color:#4d51ac;
    font-family: 'Poppins', sans-serif;
}

.banner p {
    font-size:18px;
}

.banner a{
    padding:12px 21px;
    align-items:center;
    -webkit-transition: box-shadow .25s ease,-webkit-transform .25s ease;
    transition: box-shadow .25s ease,-webkit-transform .25s ease;
    transition: box-shadow .25s ease,transform .25s ease;
    transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}

.banner a:hover{
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1) !important;
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
}

.card-home i{
    font-size:36px;
    color:#ffc107;
}

.floating-card {
    position:fixed;
    right:0;
    bottom:0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index:8;
}

/* Loader */

.card-btc{
    width:150px;
    height:40;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ffc107;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.card-exchange {
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05);
    border:none;
    padding:16px;
    -webkit-transition: box-shadow .25s ease,-webkit-transform .25s ease;
    transition: box-shadow .25s ease,-webkit-transform .25s ease;
    transition: box-shadow .25s ease,transform .25s ease;
    transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}

.card-exchange:hover {
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1) !important;
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
}

.card-exchange a {
    color:#4c4c4c;
}

.card-exchange a:hover {
    text-decoration:none;
}

.card-exchange h3 {
    font-weight:bold;
}